.logotipo{
    width: 50px;
    padding-left: 8px;
    
}
body{
    background-color: 
    #Dac9c9;
}
.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    
}

.container{
    padding: 25px;
    margin: 10px;
    
    
}

.card{
    display: block;
    margin: auto;
    padding: 15px;
}

.calendario{
    display:block;
    margin:auto;
}

.informacion{
    padding: 35px;
}

.containerc{
    padding-top: 25px;
    
}

footer{
    color: white;
    padding: 15px;
    background-color: black;
    text-align: center;
}

footer p{
    font-size: 10px;
}

